html, body {
    height: 100%;
    overflow: hidden;
}
  
body {
    overflow: hidden;
    user-select: none;
    margin: 0;
    font-family: Mulish, "Helvetica Neue", sans-serif !important;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

.app {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 5% 90% 5%;
}

/* Navbars */
.navbar-2 {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: red;      
}

.navbar-3 {
    display: grid;
    grid-template-columns: 10% 10% 70% 10%;
    background-color: red;      
}

.navbar-4 {
    display: grid;
    grid-template-columns: 10% 10% 60% 10% 10%;
    background-color: red;      
}

.navbar-5 {
    display: grid;
    grid-template-columns: 10% 10% 10% 50% 10% 10%;
    background-color: red;      
}

.content {
    display: grid;
    place-items: center;
}

.box {
    width: 1080px;
    height: 750px;
}

/* Contents */
.airy {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.airy-left-mid {
    display: grid;
    text-align: center;
    align-items: center;
    grid-row: 1 / span 2;
    grid-column: 1;
}

.airy-right-p1 {
    display: grid;
    text-align: center;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
}

.airy-right-p2 {
    display: grid;
    text-align: center;
    align-items: center;
    grid-row: 2 / span 3;
    grid-column: 2;
}

.compact {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
}

.full {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.mixed {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.left-two-columns {
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    border: 2px solid black;
}

/* Footers */
.footer-1 {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    background-color: red;     
}

.footer-2 {
    display: grid;
    grid-template-columns: 40% 10% 10% 40%;
    background-color: red;     
}

.footer-3 {
    display: grid;
    grid-template-columns: 35% 10% 10% 10% 35%;
    background-color: red;     
}

.footer-4 {
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10% 30%;
    background-color: red;     
}

/* Modern */
.modern {
    border-radius: 2%;
}

span {
    font-family: 'Verdana';
}

span {
    font-family: 'Franklin Gothic Medium';
}

span {
    font-family: 'Courier New';
}

span {
    font-family: 'Lucida Sans';
}

/* Colors */

/* Cool */
.cool-navbar {
    background: linear-gradient(95.2deg, rgb(173, 252, 234) 26.8%, rgb(192, 229, 246) 64%);
}

.cool-content {
    background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
}

.cool-footer {
    background: linear-gradient(95.2deg, rgb(173, 252, 234) 26.8%, rgb(192, 229, 246) 64%);
}

.box-cool {
    background: linear-gradient(95.2deg, rgb(51, 186, 154) 26.8%, rgb(55, 133, 169) 64%);
}

/* Light Cool */
.light-cool-navbar {
    background: linear-gradient(65.5deg, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
}

.light-cool-content {
    background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.light-cool-footer {
    background: linear-gradient(65.5deg, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
}

.box-light-cool {
    background: linear-gradient(65.5deg, rgb(17, 238, 238) -15.1%, rgb(22, 26, 145) 71.5%);
}

/* Warm */
.warm-navbar {
    background: radial-gradient(755px at 10.1% 95.3%, rgb(242, 188, 141) 0%, rgb(242, 159, 141) 100.2%);
}

.warm-content {
    background: linear-gradient(110.3deg, rgb(238, 179, 123) 8.7%, rgb(216, 103, 77) 47.5%, rgb(114, 43, 54) 89.1%);
}

.warm-footer {
    background: radial-gradient(755px at 10.1% 95.3%, rgb(242, 188, 141) 0%, rgb(242, 159, 141) 100.2%);
}

.box-warm {
    background: radial-gradient(755px at 10.1% 95.3%, rgb(239, 149, 70) 0%, rgb(242, 97, 65) 100.2%);
}

/* Light Warm */
.light-warm-navbar {
    background: linear-gradient(108.7deg, rgb(224, 235, 213) 8.1%, rgb(37, 148, 141) 91.2%);
}

.light-warm-content {
    background: radial-gradient(939px at 94.7% 50%, rgb(0, 178, 169) 0%, rgb(0, 106, 101) 76.9%);
}

.light-warm-footer {
    background: linear-gradient(108.7deg, rgb(224, 235, 213) 8.1%, rgb(37, 148, 141) 91.2%);
}

.box-light-warm {
    background: linear-gradient(108.7deg, rgb(188, 241, 136) 8.1%, rgb(31, 180, 170) 91.2%);
}