@use '../../shared/styles/variables' as variables;
@use '@angular/material' as mat;

.result {
  display: grid;
  width: 1080px;
  height: 750px;
  border-radius: 2%;
  text-align: center;
  grid-template-rows: 5% 95%;
  align-items: center;
  @include mat.elevation(2);

  background: radial-gradient(circle at 10% 20%, rgb(75, 108, 183) 0%, rgb(55, 82, 141) 90%);

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: variables.$white;
  }

  .content {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1fr 1fr;

    .html-code {
      width: 100%;
      height: 100%;
      display: grid;
      grid-row: 2;
      grid-column: 1;
    }

    .scss-code {
      width: 100%;
      height: 100%;
      display: grid;
      grid-row: 2;
      grid-column: 2;
    }

    .paragraph {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 80% 20%;

      .first {
        display: grid;
        grid-row: 1 / span 2;
        align-items: center;
        text-align: center;
      }

      &__text {
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        color: variables.$white;
      }

      .copy {
        &:hover {
          color: variables.$gray;
          cursor: pointer;
        }
      }

      .info-copy {
        font-size: 0.8rem;
        font-weight: 500;
        color: variables.$green;
      }
    }
  }
}

pre {
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}
