<div class="app">
  <div class="navbar">
    <span class="button" (click)="goHome()">{{ 'template-generator.home' | translate }}</span>
    <span class="space"></span>
    <span class="button">
      <img src="assets/images/{{language}}.png" alt="language" (click)="changeLanguage()" class="language-image"/>
    </span>
  </div>
  <div class="content">
    <ng-container *ngIf="currentViewState === viewState.HOME">
      <div class="home">
        <div class="title"> {{ 'template-generator.title' | translate }} </div>
        <div class="content">
          <div class="left">
            <div class="paragraphs">
              <div class="paragraph"> {{ 'template-generator.paragraph.1' | translate }} </div>
              <div class="paragraph"> {{ 'template-generator.paragraph.2' | translate }} </div>
              <div class="paragraph">
                <div class="info">
                  <span class="text"> {{ 'template-generator.start-create' | translate }} </span>
                  <span class="button" (click)="createTemplate()">
                    {{ 'template-generator.create' | translate }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="right-top"> {{ 'template-generator.paragraph.3' | translate }} </div>
          <div class="right-mid"> {{ 'template-generator.paragraph.4' | translate }} </div>
          <div class="right-bottom"> {{ 'template-generator.paragraph.5' | translate }} </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="currentViewState === viewState.FORM">
      <div class="form">
        <div class="title">  {{ 'template-generator.title-form' | translate }} </div>
        <div class="content">
          <div class="question"> {{ ('template-generator.questions.' + currentQuestionIndex) | translate }} </div>
          <div class="answers">
            <span class="answer {{ savedAnswer === 0 ? 'selected' : ''}}"
                  (click)="saveAnswer(0)"> {{ ('template-generator.answers.' + currentQuestionIndex + '.0') | translate }} </span>
            <span class="answer {{ savedAnswer === 1 ? 'selected' : ''}}"
                  (click)="saveAnswer(1)"> {{ ('template-generator.answers.' + currentQuestionIndex + '.1') | translate }} </span>
            <span class="answer {{ savedAnswer === 2 ? 'selected' : ''}}"
                  (click)="saveAnswer(2)"> {{ ('template-generator.answers.' + currentQuestionIndex + '.2') | translate }} </span>
            <span class="answer {{ savedAnswer === 3 ? 'selected' : ''}}"
                  (click)="saveAnswer(3)"> {{ ('template-generator.answers.' + currentQuestionIndex + '.3') | translate }} </span>
          </div>
          <div class="control">
            <span class="button {{currentQuestionIndex === 0 ? 'disabled' : ''}}" (click)="goBack()"> {{ 'template-generator.back' | translate }} </span>
            <span class="button {{canFinish() ? 'disabled' : ''}}" (click)="finish()"> {{ 'template-generator.finish' | translate }} </span>
            <span
              class="button {{savedAnswer === -1 || currentQuestionIndex === maxQuestions - 1 ? 'disabled' : ''}}"
              (click)="goNext()"> {{ 'template-generator.next' | translate }}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <app-loading *ngIf="currentViewState === viewState.LOADING"></app-loading>
    <app-result *ngIf="currentViewState === viewState.RESULT" [results]="savedAnswers"></app-result>
  </div>
  <div class="footer">
    <span class="text"> <a href="https://github.com/robertnitu02" target="_blank">Nițu Robert</a> | SCSS U.P.B © 2023</span>
  </div>
</div>
