<div class="app">
  <div class="navbar">
    <span class="button" (click)="goHome()">{{ 'template-generator.home' | translate }}</span>
    <span class="space"></span>
    <span class="button">
      <img src="assets/images/{{language}}.png" alt="language" (click)="changeLanguage()" class="language-image"/>
    </span>
  </div>
  <div class="content">
    <ng-container *ngIf="currentViewState === viewState.HOME">
      <div class="home">
        <div class="title">
          TITLE
        </div>
        <div class="content">
          <div class="left">
            <div class="paragraphs">
              <div class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et velit sit amet massa tincidunt
                tristique id nec velit. Fusce at vulputate enim. In mollis tristique libero et mattis. Curabitur id
                auctor lorem. Etiam gravida feugiat eros, vitae vulputate augue dignissim in. Mauris elementum, purus
                vel tincidunt tempor, nunc felis molestie ligula, non luctus risus orci efficitur nunc. Vestibulum in
                tellus nunc. Praesent quis diam auctor, condimentum turpis vitae, maximus elit. Duis vel ex dui. Aliquam
                facilisis elit sed volutpat facilisis. Phasellus ac enim vulputate, euismod justo sed, efficitur justo.
                Morbi aliquet tincidunt lectus, ac varius urna. Suspendisse et turpis luctus, facilisis sapien dictum,
                dictum lorem.
              </div>
              <div class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et velit sit amet massa tincidunt
                tristique id nec velit. Fusce at vulputate enim. In mollis tristique libero et mattis. Curabitur id
                auctor lorem. Etiam gravida feugiat eros, vitae vulputate augue dignissim in. Mauris elementum, purus
                vel tincidunt tempor, nunc felis molestie ligula, non luctus risus orci efficitur nunc. Vestibulum in
                tellus nunc. Praesent quis diam auctor, condimentum turpis vitae, maximus elit. Duis vel ex dui. Aliquam
                facilisis elit sed volutpat facilisis. Phasellus ac enim vulputate, euismod justo sed, efficitur justo.
                Morbi aliquet tincidunt lectus, ac varius urna. Suspendisse et turpis luctus, facilisis sapien dictum,
                dictum lorem.
              </div>
              <div class="paragraph">
                <div class="info">
                  <span class="text">TEXT</span>
                  <span class="button" (click)="createTemplate()">
                    CREATE
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="right-top">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et velit sit amet massa tincidunt
            tristique id nec velit. Fusce at vulputate enim. In mollis tristique libero et mattis. Curabitur id
            auctor lorem. Etiam gravida feugiat eros, vitae vulputate augue dignissim in. Mauris elementum, purus
            vel tincidunt tempor, nunc felis molestie ligula, non luctus risus orci efficitur nunc. Vestibulum in
            tellus nunc.
          </div>
          <div class="right-mid">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et velit sit amet massa tincidunt
            tristique id nec velit. Fusce at vulputate enim. In mollis tristique libero et mattis. Curabitur id
            auctor lorem. Etiam gravida feugiat eros, vitae vulputate augue dignissim in. Mauris elementum, purus
            vel tincidunt tempor, nunc felis molestie ligula, non luctus risus orci efficitur nunc. Vestibulum in
            tellus nunc.
          </div>
          <div class="right-bottom">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et velit sit amet massa tincidunt
            tristique id nec velit. Fusce at vulputate enim. In mollis tristique libero et mattis. Curabitur id
            auctor lorem. Etiam gravida feugiat eros, vitae vulputate augue dignissim in. Mauris elementum, purus
            vel tincidunt tempor, nunc felis molestie ligula, non luctus risus orci efficitur nunc. Vestibulum in
            tellus nunc.
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="currentViewState === viewState.FORM">
      <div class="form">
        <div class="title">
          COMPLETEAZĂ CHESTIONARUL
        </div>
        <div class="content">
          <div class="question">
            {{ questions[currentQuestionIndex].question }}
          </div>
          <div class="answers">
            <span class="answer" (click)="saveAnswer(0)"> {{ questions[currentQuestionIndex].answers[0] }} </span>
            <span class="answer" (click)="saveAnswer(1)"> {{ questions[currentQuestionIndex].answers[1] }} </span>
            <span class="answer" (click)="saveAnswer(2)"> {{ questions[currentQuestionIndex].answers[2] }} </span>
            <span class="answer" (click)="saveAnswer(3)"> {{ questions[currentQuestionIndex].answers[3] }} </span>
          </div>
          <div class="control">
            <span class="button {{currentQuestionIndex === 0 ? 'disabled' : ''}}" (click)="goBack()"> < GO BACK</span>
            <span
              class="button {{savedAnswer === -1 || currentQuestionIndex === questions.length - 1 ? 'disabled' : ''}}"
              (click)="goNext()"> NEXT ></span>
            <span class="button {{currentQuestionIndex !== questions.length - 1 ? 'disabled' : ''}}" (click)="finish()"> FINISH ></span>
          </div>
        </div>
      </div>
    </ng-container>
    <app-loading *ngIf="currentViewState === viewState.LOADING"></app-loading>
    <app-result *ngIf="currentViewState === viewState.RESULT" [results]="savedAnswers"></app-result>
  </div>
  <div class="footer">
    <span class="text">Nițu Robert | <a href="https://github.com/robertnitu02" target="_blank">GitHub</a> | SCSS U.P.B © 2023</span>
  </div>
</div>
