html, body {
  height: 100%;
  overflow: hidden;
}

body {
  overflow: hidden;
  user-select: none;
  margin: 0;
  font-family: Mulish, "Helvetica Neue", sans-serif !important;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
