html, body {
  height: 100%;
  overflow: hidden;
}

body {
  overflow: hidden;
  user-select: none;
  margin: 0;
  font-family: Mulish, "Helvetica Neue", sans-serif !important;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}
*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
